{% extends "home/base.html" %}
{% block content %}
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: right;
      padding: 8px;
    }
    
    tr:nth-child(even) {background-color: #f2f2f2;}

    </style>

<article class="media content-section">
    <div class="media-body text">
        <legend class="border-bottom mb-4 title">
            אישור משתמשים
        </legend>
          <p class="article-content">
            <div style="overflow-x:auto;">
                
                <table>
                    
                  <tr>
                    <th>תמונה </th>
                    <th>שם משתמש </th>
                    <th>שם </th>
                    <th>קצת עליי </th>
                    <th>ניהול משתמש </th>
                  </tr>
                  {% for user in users%}
                  <tr>
                    <td>
                    <a target="_blank" href="{{ user.image.url }}"><img src="{{ user.image.url }}" alt="profile img" style="width:100%; max-width:100px;"></a>
                    </td>
                    <td>{{user.user.username}} </td>
                    <td>{{user.user.first_name}} {{user.user.last_name}}</td>
                    <td>

                        <button class="btn-secondary btn-sm mt-1 mb-1" data-toggle="modal"  data-target="#manage_user_aboutme{{ user.id }}" style="float: right;" href="#">לקריאה</button> 

                        <!-- Modal -->
                        <div class="modal fade" id="manage_user_aboutme{{ user.id }}" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <!-- <h4 class="modal-title text" style="text-align: right;"></h4> -->
                                <p style="margin: 0 auto;"></p>
                              </div>
                              <div class="modal-body">
                                {{user.about_me}}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                              </div>
                            </div>
                          </div>
                        </div>          
                    </td>
                    <td>
                        <button class="btn-secondary btn-sm mt-1 mb-1" data-toggle="modal"  data-target="#manage_user{{ user.id }}" style="float: right;" href="#">לאישור</button> 

                        <!-- Modal -->
                        <div class="modal fade" id="manage_user{{ user.id }}" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text" style="text-align: right;">אישור משתמש</h4>
                                <p style="margin: 0 auto;"></p>
                              </div>
                              <div class="modal-body">
                                <b>האם אתם רוצים לאשר את המשתמש {{user.user.username}}?</b><br><br>
                                <form method="POST">
                                  {% csrf_token %}
                                  <input value="{{ user.id }}" name= "id" hidden>
                                  <button class = "btn-success btn-sm mt-1 mb-1 float-right" type="submit" value="Click" name= "approved_user">לאשר</button>
                                  <button class = "btn-danger btn-sm mt-1 mb-1 float-left" type="submit" value="Click" name= "delete_user">לא לאשר </button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                              </div>
                            </div>
                          </div>
                        </div>                    

                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </p>
      </div>
  </article>
{% endblock content %}