{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="text content-section">
        <div class="title">
            <legend class="border-bottom mb-4 ">
                    מה אומרים עלינו 
            </legend>
        </div>
        {% for feedback in feedbacks %}
        <div class="feedbacks_comments" >
            <h4 class="title">{{feedback.title}} <small class="text-muted" style="font-size: 60%;">{{feedback.author}}</small></h4>
            <div id="feedbackContent">
            {{feedback.content|linebreaks}}
            </div>
          </div>
          <br>
        {% endfor %}

          <br>
          <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#demo">הוספת תגובה</button>
          <br><br>
          <div id="demo" class="collapse">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group" style="width:400px">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">הוסיפו תגובה</button>
                </div>
            </form>
          </div>

	</div>
{% endblock content %}